* {
    margin: 0;
    padding: 0;
}

root {
    font-size: 10px;
}

.list-group .list-group-item:hover{
    background-color: rgb(190, 196, 201);
}

.list-group .cizik {
    text-decoration: line-through;
    background-color: rgb(190, 196, 201);
}